@keyframes letter-animation {
    from {
        transform: scale(20) translateX(-400px);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}

.letter {
    color: red;
    display: inline-block;
    animation-name: letter-animation;
    animation-duration: 1000ms;
}

.text-with-cursor::after {
    content: '|';
    color: gray;
    display: inline-block;
    animation-name: blink-animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}
