.container {
  display: grid;
  gap: var(--grid-margin);
  grid-template-columns: 1fr auto;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.sections-container {
  padding: 0 var(--grid-margin);
  position: sticky;
  top: 0;
  align-self: start;
  max-height: 100vh;
  overflow-y: auto;

  ul {
    text-align: right;

    & > li {
      margin-bottom: 0.75rem;
    }
  }

  @media screen and (max-width: 768px) {
    grid-row: 1;
    padding: 0 0 var(--grid-margin) 0;
    background-color: var(--bg-color);

    ul {
      text-align: left;
      display: flex;
      margin: 0;

      & > li {
        margin-bottom: 0;
        margin-right: var(--grid-margin);
      }
    }
  }
}
