.root {
  background-color: var(--dark-bg-color);
  position: sticky;
  top: 0;
  z-index: 999;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: var(--grid-margin);
}

.heading-container {
  display: flex;
  align-items: center;
}

.menu-button {
  padding: 0;
  margin-right: calc(var(--grid-margin) / 2);
  width: 24px;
  height: 24px;
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.heading {
  font-size: 1.5rem;
  margin: 0;

  & > a {
    color: inherit;
  }

  @media screen and (max-width: 425px) {
    font-size: 1rem;
  }
}

.nav {
  @media screen and (max-width: 768px) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
}

.actions-container {
  display: flex;
  gap: var(--grid-margin);
  align-items: center;
  justify-content: flex-end;
  color: var(--text-color);

  @media screen and (max-width: 768px) {
    grid-column: 2;
  }
}

.color-scheme-button {
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.github-button {
  color: inherit;
}
